.outer-wrapper {
  width: 65%;
  margin-top: 40px;
  float: left;
}

.tiles-wrapper {
  width: 65%;
  float: left;
}

.box-title-wrapper {
  display: flex;
  color: rgb(253, 253, 198);
  justify-content: space-between;
  align-items: center;
}

.main-box {
  height: 310px;
  color: rgba(139, 13, 13, 0.863);
  background-color: rgb(253, 253, 198);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.title-and-subtitle-wrapper {
  margin-top: auto;
  padding: 10px;
}

.box-subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-box-wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-box {
  float: left;
  width: 49%;
  height: 150px;
  color: rgba(139, 13, 13, 0.863);
  background-color: rgb(253, 253, 198);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.bottom-box-text-wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.side-box-wrapper {
  margin-top: 28px;
  margin-left: 10px;
  width: 33.7%;
  float: left;
}

.side-box {
  height: 150px;
  color: rgba(139, 13, 13, 0.863);
  background-color: rgb(253, 253, 198);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.bottom-side-box {
  height: 148px;
  margin-top: 10px;
  color: rgb(253, 253, 198);
  background-color: transparent;
  border: 1px solid rgb(253, 253, 198);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-item-wrapper {
  width: 33%;
  margin-left: 20px;
  margin-top: 40px;
  float: left;
  background-color: rgb(189, 87, 143);
}

.right-box {
  height: 470px;
  background-color: rgb(129, 129, 25);
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .outer-wrapper {
    margin-top: 0;
    width: 100%;
  }
  
  .tiles-wrapper {
    width: 100%;
  }
}
