.app-wrapper {
  height: 100vh;
  background: rgba(211, 135, 135, 0.568);
  overflow: scroll;
}

.content-wrapper {
  position: relative;
  margin: auto;
  width: 65%;
  background-color: aquamarine;
  /* height: 100vh; */
  margin-top: 20px;
}
